/* ******************************

PAGE LAYOUT

****************************** */
.page {
  position: relative;
  overflow: hidden;
}

.page_body {
  *zoom: 1;
  position: relative;
  left: -16em;
}
.page_body:after {
  content: "";
  display: table;
  clear: both;
}

.page_content {
  background: white;
  min-height: 100%;
  margin-left: 16em;
  width: 100%;
  float: left;
  margin-top: 3.25em;
}

.page_header {
  display: block;
  margin-bottom: 3em;
}
.page_header a {
  color: #000;
  text-decoration: none;
}

.page_column {
  margin: auto;
  max-width: 75em;
  margin: auto;
}

.page_menu {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  margin: 1em 1em 0 1em;
}

.page_navigation ul {
  margin: 2em;
}
.page_navigation ul + ul {
  margin-top: 1em;
}
.page_navigation li > ul {
  margin-top: 0;
  margin-bottom: 1em;
}
.page_navigation a {
  display: block;
  text-decoration: none;
  padding: 0.25em 0;
  color: #CCC;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.page_navigation a.selected {
  color: #FFF;
}
.page_navigation a:active {
  color: #666;
}
.page_navigation a:hover {
  color: #EEE;
}
.page_navigation li > ul a {
  color: #999;
}

.search_container input {
  /* Acceptable values are border, content, and padding - content is the default W3C model */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: #999;
  font-weight: 400;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  border: 1px solid #666;
  margin: 0;
  display: block;
  width: 100%;
  padding: 0.5em;
  background: transparent;
}
.search_container input::-webkit-input-placeholder {
  color: #808080;
}
.search_container input:-moz-placeholder {
  color: #808080;
}
.search_container input::-moz-placeholder {
  color: #808080;
}
.search_container input:-ms-input-placeholder {
  color: #808080;
}
.search_container input:disabled {
  border-color: #666;
  color: #999;
  opacity: 1;
}
.search_container input:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 0px none transparent;
  border: 1px solid #CCC;
}
.no-boxsizing .search_container input {
  padding: 1em 0;
  text-indent: 1em;
}

#navigation {
  -webkit-transform: translateZ(0);
  position: fixed;
  height: 100%;
  width: 16em;
  margin-left: -16em;
  top: 0;
  left: 0;
  z-index: 99999;
}

#navigation nav {
  width: 100%;
  height: 100%;
  background: #000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.no-history #navigation {
  margin-left: 0;
}
.no-history .navigation_toggle {
  display: none;
}
.no-history .page_column {
  padding-left: 16em;
}

.navigation_toggle {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 4em;
  line-height: 4em;
  height: 4.5em;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 999999;
  overflow: hidden;
  text-indent: 150%;
  cursor: hand;
  cursor: pointer;
}

#tictail_search_results {
  background: transparent;
  position: relative;
  width: auto;
  border: none;
}

#tictail_search_results .item {
  border: none;
  overflow: visible;
  margin: 0;
}

#tictail_search_results .title {
  border: none;
  overflow: visible;
  margin: 0;
  text-overflow: clip;
  white-space: normal;
}

#tictail_search_results .thumb {
  width: auto;
  height: auto;
  overflow: auto;
  line-height: inherit;
}

#tictail_search_results {
  padding-top: 0.5em;
  color: #CCC;
}
#tictail_search_results .item {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: left;
  cursor: hand;
  cursor: pointer;
}
#tictail_search_results .item + .item {
  margin-top: 0.5em;
}
#tictail_search_results .result {
  padding: 0;
}
#tictail_search_results .thumb {
  display: block;
  float: left;
  margin-right: 0.5em;
}
#tictail_search_results .thumb img {
  display: block;
}
#tictail_search_results .title,
#tictail_search_results .price {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.25em;
  letter-spacing: 0.16666667em;
  color: #FFF;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}
#tictail_search_results .title {
  font-weight: 700;
}
#tictail_search_results .item:hover a:after {
  visibility: visible;
}
#tictail_search_results .item a:after {
  display: block;
  content: "";
  position: absolute;
  background-color: rgba(36, 0, 217, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden;
}

/* ******************************

PRODUCT TEASER

****************************** */
.product_teaser {
  position: relative;
  margin: 0.5em;
  display: block;
  overflow: hidden;
}

.product_teaser_image {
  position: relative;
  font-size: 0;
}
.product_teaser_image img {
  position: relative;
  display: block;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.product_teaser_image:before {
  position: relative;
  content: '';
  display: inline-block;
  padding-bottom: 150%;
  margin-right: -0.25em;
  vertical-align: middle;
  background: red;
}

.product_teaser_price {
  font-weight: 400;
}

.product_teaser_hover {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 0, 217, 0.7);
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 0;
}
.lt-ie9 .product_teaser_hover {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#702400D9,endColorstr=#702400D9);
  zoom: 1;
}
.product_teaser_hover:before {
  content: '';
  position: relative;
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
  background: red;
}
.selected .product_teaser_hover {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}
.no-touch .product_teaser:hover .product_teaser_hover {
  visibility: visible;
}

.product_teaser_hover_wrapper {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.125em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 18.75em) {
  .product_teaser_hover_wrapper {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media (min-width: 37.5em) {
  .product_teaser_hover_wrapper {
    font-size: 16px;
    font-size: 1rem;
  }
}
.boxsizing .product_teaser_hover_wrapper {
  /* Acceptable values are border, content, and padding - content is the default W3C model */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0.5em;
}

.product_list {
  margin: 1em;
}

.product_list_wrapper {
  margin: -0.5em;
}

.product_list {
  overflow: hidden;
}

.product {
  width: 100%;
  float: left;
}
@media (min-width: 18.75em) {
  .product {
    width: 50%;
  }
}
@media (min-width: 37.5em) {
  .product {
    width: 33.333333%;
  }
}
@media (min-width: 56.25em) {
  .product {
    width: 25%;
  }
}
.lt-ie9 .product, .no-mediaqueries .product {
  width: 25%;
}

.product_teaser_stock {
  display: block;
  margin-top: 1em;
}

/* ******************************

PRODUCT DETAIL

****************************** */
.product_detail {
  margin: 0.5em;
  padding-top: 0.5em;
  display: none;
  overflow: hidden;
  clear: both;
}
.product_detail.selected {
  display: block;
}
.product_single .product_detail {
  display: block;
}

.product_detail_description {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27px;
  line-height: 1.6875rem;
  margin: 0.88888889em auto 0 auto;
  font-style: normal;
  font-weight: 400;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  text-align: center;
  max-width: 33em;
}

.product_detail_name {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.08333333em;
  margin: 0.66666667em 0.66666667em 0 0.66666667em;
  text-transform: uppercase;
  text-align: center;
}

.product_detail_price {
  text-align: center;
  margin: 0.88888889em 0.88888889em 0 0.88888889em;
}

.product_detail_button, .stock_label, .tictail_button, .variations_select_label, .tictail_variations_select, .variations_option {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 48px;
  line-height: 3rem;
  /* Acceptable values are border, content, and padding - content is the default W3C model */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border-collapse: collapse;
  display: block;
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.16666667em;
  border: 0.33333333em solid black;
  background: #FFF;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 37.33333333em;
  min-height: 4.83333333em;
  text-align: center;
  margin: auto;
  margin-top: 1em;
  text-transform: uppercase;
  cursor: hand;
  cursor: pointer;
}
.product_detail_button:hover, .stock_label:hover, .tictail_button:hover, .variations_select_label:hover, .tictail_variations_select:hover, .variations_option:hover {
  background: black;
  color: white;
}

.stock_label {
  color: #CCC;
  border-color: #CCC;
}
.stock_label:hover {
  background: white;
  color: #CCC;
}

.variations_select_label {
  position: relative;
  display: none;
}
.variations_select_label:before {
  content: "";
  display: block;
  width: 1.33333333em;
  position: absolute;
  left: 100%;
  margin-left: -3em;
  height: 4em;
}

.tictail_variations_select {
  position: relative;
  display: none;
  z-index: 100;
}

.variations_option_container {
  /* Acceptable values are border, content, and padding - content is the default W3C model */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border: 0.25em solid black;
  max-width: 28em;
  margin: auto;
  border-top: 0;
  display: none;
}

.variations_option {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  /* Acceptable values are border, content, and padding - content is the default W3C model */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  min-height: 4.5em;
  margin: 0;
}
.variations_option:first-child {
  border-top: 0;
  min-height: 4.16666667em;
}

.tictail_variations_select + .variations_select_label {
  display: block;
}

.product_detail_cart {
  margin: 2em auto 0 auto;
}

.product_detail_terms {
  margin: 2em auto 0 auto;
  max-width: 14em;
}
.product_detail_terms a {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  color: #595959;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.product_detail_social {
  margin: 2em auto 0 auto;
  overflow: hidden;
  text-align: center;
}
.product_detail_social .tictail_social_button {
  padding: 0 0.5em;
  display: inline-block;
}

/* ******************************

PRODUCT SLIDER

****************************** */
.product_slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product_slide_wrapper {
  position: absolute;
}

.product_slide_wrapper > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  overflow: hidden;
}

.product_slide_figure img {
  display: block;
  height: 100%;
  height: inherit;
  margin: auto;
}

.product_slider_index {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 1em;
  bottom: 1em;
}
.product_slider_index i {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.product_slide[data-direction="next"] {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAABACAYAAAByZdXUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhhJREFUeNrkmdFtgzAQQG3TAegEoZ2Az3wmG7R//SQbpBt0k2aD0M9+JSMwQRUmCJmgvZMOCdEUYnznQ6qlUxwSoqfj8jhs+7hYfBtjThDPX3VdGeXhIBAigzgAXD4HoDXEDiIlqJUmkG0nAPIOLwW93cDl22kAJe3kfLl83KcpZmkJ8QTzGo5VakAE9YkgCERQKR5TAyKoqgO1hHmG2YteQ/1Bxb2nYsd6eoW6atSACAo1cCAorKe1NJQb+pBEuSZx5qSFVC1DnUyllKlc2ur21i/2oBq6fJUa0BWBNiTQUvRvPzZIoBkJ9IVboMmUkwgKs7vitnoy9UQAOPasziLQJOTkntVzDijLkeaeQEsq9kYNiNPqjguoY/UqxOrWMI9QgbIDhUKJAIVYPZEEmmJ1UaApVhcH8rV6FCAfq1sTeYxZPTrQmNWdBtCQ1VUyNCRQVaBrUM7oj+4N+HSnnJ1fxe1mAnOM8VQ8BFNAnHE5kW7AqmLEu38LsYOsbDRrZktZwdhG74f+6I2MGVgydJFhGjOyfindMeI/aE+90E2trBWG8e6rnbBjchLeg1qTH/rA6ARhyin25XyUZhGenRMMV2beOvYtQn/PBsKwb9hYBhjWxc8pq7Ciy8N2TjBeHgqxL3uGYm7COE+Y0gj3vmPbU9GFZ/+lfYMypL1dbmPY1xso1ubcTUBzgmk9JG5fXyD9h/3O+BFgABFWeC5HhnBVAAAAAElFTkSuQmCC") 32 32, e-resize;
}
.product_slide[data-direction="prev"] {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAABACAYAAAByZdXUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAltJREFUeNrMmr1SwkAQgJMchWV8AqKVJXSW0EkHbwCddvIIPol0jpVSUskbEF/AIZ2d0Fm662yYJSaSn9vb3MxO/u6Yb/Yu3yUXOl4LymW3G8LmBSIyLYF5g7iG2BplmB5sNpgZiBhiaJRhMDNhCvORJDujBDOmMYMwCwAZfe3333jNKMBMYfMEcUYwM37dKMA80uEDwMyzdToOYRBkSoczgFnk1TNtghHPEDkGYXAQ7+hOiv9rY4Rh8LYelIURA2IwPXLMpAyMCFCefQFmW7a9EYD5Y98qv2EswhTa1znQKfs6BSpj3yql0xCmtPDEMyQBUytDdewrlqG69hUBamJf60BN7WsVKGPfNcSoqn2tATHhpfad1LGvFSAmvMb2rVKCAph7Zt+5K5hcD0kJr1aXMRgctHeuYQ4ZYi/7YsIrnaHMy74qTDqouX37mjApUMSOd55yQaAhgfwambpQD4i66IK6LIXqaWbIo7lp2Aaog6kZ1CvNXSpQR2LEiRPi+TwMI9LALewncC5WAWJgS4LCDI1dQhXO9gSV0LMzQvlwbq0GRFAxgxpg1hBUDYhBvcPuDY4raSjf5UJC7Qe0vEICFbd6UKWyC6sHVRtIWz2o00jS6rUXG6Ss3nh9yLbVrayg2bS6tTVGW1a3ugprw+q+J1CaWD2QAGJW31a1uggQg+ozgW7KuEoMKMfqURmBigJloBbM6gMnd9kJqy+Z1adFAnX6zZWgQoLKtbrzr9IAsMpYPcRzakA5Vj8SqO8pFhrch09aEHNVoDyrq/87BrrqE7psRfPf1Y8AAwBDu5ZYdKxCqgAAAABJRU5ErkJggg==") 0 32, w-resize;
}
.lt-ie9 .product_slide[data-direction="prev"] {
  cursor: url(css/prev.cur), w-resize;
}

body {
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.no-touch body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hamburger-icon, .navigation_toggle {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoAQMAAACYdQu8AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABVJREFUGJVj+A8BHxgoZFALDFP3AACJ/73ZME9a1AAAAABJRU5ErkJggg==");
  background-size: 30px 20px;
}

.arrow-icon, .variations_select_label:before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAMAAADHqI+lAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAK0lEQVR42lzIyREAIAgAMdJ/044HiuwvG9HT6TvmUL2G4j08n+E6h7QhwAAJ1AA5atNy8AAAAABJRU5ErkJggg==");
  background-size: 8px 4px;
  background-position: center center;
  background-repeat: no-repeat;
}

.dot-icon, .product_slider_index i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABJklEQVR42rWVPa6CUBCF3xqQDYidFFSKjXEduiwoKOiARBNN3IcCOzDqEiiw0Bick8wQo3KJeF9xEhjmfGR+uPxVVdUkg2SRHJLLcjhmNPk+BXukIWmiEueYbUBLDHmez5MkWQZBcPJ9/wrR9RExPHsCDz4CBVaW5TSKorXneXdS1aA75WyLopgx1HoFmgILw3DHplZR7h4ehvZqoPSM3rpB4jdCNdJTARoIZFm2UJWpKh9ehhp176jZKyR0EbzSSwAd3GCaXYHwMtAB0MUNPbh2BcLLQFcLkHb0wsCRrpIPUrKWocRxLEPp12uTpmnntYH3eW0g+4fF3jDM1v3pmf92OLxB5VNEs2mCZwLcsBqYJmLSM9ZA1wFrqw/Y9l/AmK/7ql/AA6Uff/KDnjGWAAAAAElFTkSuQmCC");
}

.dot-active-icon, .product_slider_index i.active {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABKUlEQVR42rWVwWqDQBCG9epxI+g15lYRRWjsJfQ52ucSxCdIoIW+R/IMIY1X7z0kiJ0fZiRUXWHZHn5YZ/f/ZGdmd52+7+ekSBEpJRWslGNqzjcVXJGeSC868Rp/CRiJoa7rtzzP957nfbuue4NofEEMcw/gzSRQYG3b7pIk+XAcpyP1M+pozVfTNK8Mjf4CfYGFYXhk06KCIDjBw9DVAJSc0V8/x0a9sBvJqQAVAlVVvWu2qVMHL0PVkDtK9gELTASv5BLAFB+opikQXgamABb4oImbKRBeBhZWgNSjPwx8trXls2zZSlGyLJOirIe2KcvSuG3gfWwbKDZtbHgYFts+ev6/XQ4jqBxFJJsqeCXAHa2BaiImOWNtbF2wsf6CXX4Ctjxe656AXwodHK51zQgQAAAAAElFTkSuQmCC");
}

.html_content {
  visibility: hidden;
}
.no-js .html_content {
  visibility: visible;
}

p + p {
  margin-top: 1.33333333em;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.125em;
  color: #000;
  text-transform: uppercase;
  padding: 0 0.5em 0 0.5em;
}

.post {
  border: 0.25em solid black;
  padding: 4em;
  max-width: 30em;
  margin: auto;
}
.post h2 {
  font-size: 32px;
  font-size: 2rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.125em;
  margin-bottom: 2em;
  text-transform: uppercase;
  text-align: center;
}

#menu_blocker {
  display: none;
}

.touch #menu_blocker {
  display: block;
  position: absolute;
  top: 0;
  content: "#";
  height: 70px;
  width: 100%;
  min-width: 1024px;
  background: transparent;
  padding-left: 100%;
  z-index: 100;
}

#tt_colophon {
  margin-top: 1em;
  margin-right: 0.5em;
}
