// global variables and settings

$basefont: 16;
$text-line: 24;

// General imports
@import "mixins/reset";
@import "mixins/typography";
@import "mixins/utils";
@import "mixins/mediaqueries";

// Component and layout imports
@import "components/page-layout";
@import "components/navigation";
@import "components/social";
@import "components/product-layout";
@import "components/product-teaser";
@import "components/product-detail";
@import "components/product-slider";

body {
	@include line-height($text-line);
	font-weight: 400;
	font-family: "PT Serif";
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	@include experimental(font-smoothing, antialiased);
}

.html_content {
	visibility:hidden;
	.no-js & {
		visibility:visible;
	}
}

.post {
	border: em($unit * 0.25) solid black;
	padding: em($unit * 4);
	max-width: em($unit * 30);
	margin: auto;	

	h2 {
		@include font-size($unit * 2);
		font-family: 'Open Sans';
		font-weight: 400;
		letter-spacing: em(2);	
		margin-bottom: em($unit * 4, $unit * 2);
		text-transform: uppercase;
		text-align: center;
	}

	text-align: justify; text-justify: newspaper
}



