// global variables and settings
$basefont: 16;
$text-line: 24;
$color_product_hover: #2400D9;
$color_product_selected: #000000;
$color_product_hover_ie: "#702400D9";
$color_product_hover_text: #FFF;
$color_stroke: #000;

$size_stroke: 4;
$navigation_width: 256;
$navigation_color: #000000;
$content_color: #FFFFFF;
$unit: 16;

$font-heading: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-text: "PT Serif", "Times New Roman", Times, serif;

// General imports
// @import "mixins/reset";
@import "mixins/typography";
@import "mixins/utils";
@import "mixins/mediaqueries";

// Component and layout imports
@import "components/page-layout";
@import "components/navigation";
// @import "components/social";
@import "components/product-teaser";
@import "components/product-detail";
@import "components/product-slider";

body {
	@include line-height($text-line);
	font-weight: 400;
	font-family: $font-text;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	@include experimental(font-smoothing, antialiased);

	.no-touch & {
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
}

.hamburger-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoAQMAAACYdQu8AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABVJREFUGJVj+A8BHxgoZFALDFP3AACJ/73ZME9a1AAAAABJRU5ErkJggg==');
	background-size: 30px 20px;
}

.arrow-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAMAAADHqI+lAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5T/wDltzBKAAAAK0lEQVR42lzIyREAIAgAMdJ/044HiuwvG9HT6TvmUL2G4j08n+E6h7QhwAAJ1AA5atNy8AAAAABJRU5ErkJggg==');
	background-size: 8px 4px;
	background-position: center center;
	background-repeat: no-repeat;
}

.dot-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABJklEQVR42rWVPa6CUBCF3xqQDYidFFSKjXEduiwoKOiARBNN3IcCOzDqEiiw0Bick8wQo3KJeF9xEhjmfGR+uPxVVdUkg2SRHJLLcjhmNPk+BXukIWmiEueYbUBLDHmez5MkWQZBcPJ9/wrR9RExPHsCDz4CBVaW5TSKorXneXdS1aA75WyLopgx1HoFmgILw3DHplZR7h4ehvZqoPSM3rpB4jdCNdJTARoIZFm2UJWpKh9ehhp176jZKyR0EbzSSwAd3GCaXYHwMtAB0MUNPbh2BcLLQFcLkHb0wsCRrpIPUrKWocRxLEPp12uTpmnntYH3eW0g+4fF3jDM1v3pmf92OLxB5VNEs2mCZwLcsBqYJmLSM9ZA1wFrqw/Y9l/AmK/7ql/AA6Uff/KDnjGWAAAAAElFTkSuQmCC');
}

.dot-active-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABKUlEQVR42rWVwWqDQBCG9epxI+g15lYRRWjsJfQ52ucSxCdIoIW+R/IMIY1X7z0kiJ0fZiRUXWHZHn5YZ/f/ZGdmd52+7+ekSBEpJRWslGNqzjcVXJGeSC868Rp/CRiJoa7rtzzP957nfbuue4NofEEMcw/gzSRQYG3b7pIk+XAcpyP1M+pozVfTNK8Mjf4CfYGFYXhk06KCIDjBw9DVAJSc0V8/x0a9sBvJqQAVAlVVvWu2qVMHL0PVkDtK9gELTASv5BLAFB+opikQXgamABb4oImbKRBeBhZWgNSjPwx8trXls2zZSlGyLJOirIe2KcvSuG3gfWwbKDZtbHgYFts+ev6/XQ4jqBxFJJsqeCXAHa2BaiImOWNtbF2wsf6CXX4Ctjxe656AXwodHK51zQgQAAAAAElFTkSuQmCC');
}
.html_content {
	visibility:hidden;
	.no-js & {
		visibility:visible;
	}
}

p + p {
	margin-top: em(24,18);
}
h1 {
	@include font-size($unit*2);
	@include line-height($unit*3);
	font-family: $font-heading;
	text-align: center;
	font-weight: 600;
	letter-spacing: em(4, $unit*2);
	color: #000;
	text-transform: uppercase;
	padding: 0 em($unit, $unit*2) 0 em($unit, $unit*2);
}

.post {
	border: em($unit * 0.25) solid black;
	padding: em($unit * 4);
	max-width: em($unit * 30);
	margin: auto;	

	h2 {
		@include font-size($unit * 2);
		font-family: $font-heading;
		font-weight: 400;
		letter-spacing: em(2);	
		margin-bottom: em($unit * 4, $unit * 2);
		text-transform: uppercase;
		text-align: center;
	}
}

// Tictail - menu blocker
#menu_blocker {
	display: none;
}
.touch #menu_blocker {
	display: block;
	position: absolute;
	top: 0;
	content: "#";
	height: 70px;
	width: 100%;
	min-width: 1024px;
	background: transparent;
	padding-left: 100%;
	z-index: 100;
}

#tt_colophon {
	margin-top: em(16);
	margin-right: em(8);
}
