html {
	font-size: em($basefont,16);
}

body {
	font-family: Arial;
	@include experimental(font-smoothing, antialiased);
	color: #000;
}

.inverted {
	color: #FFF;
}
div {
	font-family: Arial;
}

a {
	color: inherit;
	text-decoration: inherit;
}
.main-navigation li {
	color: #999999;
	&:hover		{ color: #B3B3B3; }
	&:active	{ color: #CCCCCC; }
}

.search-input {
	@include font-size(16);
	@include line-height(20);
	padding: em(10,16);
	height: em(40,16);
	color: #999999;	
	font-style: normal;
	font-weight: 400;
	font-family: "PT Serif";
	opacity: 0.99;
&::-webkit-input-placeholder {
   color: #8C8C8C;
	-moz-font-smoothing: antialiased;
	font-weight: 400;
	font-family: "PT Serif";
}

&:-moz-placeholder { /* Firefox 18- */
   color: #8C8C8C;  
}

&::-moz-placeholder {  /* Firefox 19+ */
   color: #8C8C8C;  
}

&:-ms-input-placeholder {  
   color: #8C8C8C;  
}
}

.main-navigation .selected {
	color: #FFF;
}


p {
	@include font-size(18);
	@include line-height(27);
	font-style: normal;
	font-weight: 400;
	font-family: "PT Serif";
	text-align: center;
}

p + p {
	margin-top: em(24,18);
}

li {
	@include font-size(16);
	@include line-height(24);
	text-align: center;
	color: #8C8C8C;
	margin-bottom: 12px;
	margin-top: 12px;
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 400;
}


p.listselected {
	@include font-size(16);
	margin-bottom: 12px;
	line-height: 24px;
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 400;
}


p.alt {
	@include line-height(30);
	margin-top: 36px;
	margin-bottom: 36px;
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 400;
}

.logotype {
	@include font-size(36);
	text-transform: uppercase;
	letter-spacing: em(2,36);
	font-style: normal;
	font-family: "PT Serif";
	font-weight: 400;
	text-align: center;
	margin-top: em(-1,36);
	margin-bottom: em(46,36);
}

@include mq-medium-large() {
	.logotype {
		margin-top: em(9,36);
		margin-bottom: em(56,36);
	}
}

h2 {
	@include font-size(24);
	@include line-height(27);
	font-style: normal;
	font-weight: 600;
	font-family: "Open Sans";
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: em(2,24);
}

.product-title {
	@include font-size(24);
	@include line-height(27);
	letter-spacing: em(2,24);
}

.product-title + p {
	margin-top: em(30);
}
h3 {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-family: "PT Serif";
	letter-spacing: em(3);
	p + & {
		margin-top: em(24);
	}
}


h4 {
	@include font-size(14);
	@include line-height(24);
	font-style: normal;
	font-weight: 600;
	font-family: "Open Sans";
	text-align: center;
	text-transform: uppercase;
	letter-spacing: em(1,14);
}


.main-navigation h2 {
	@include font-size(12);
	@include line-height($basefont);
	font-style: normal;
	font-weight: 800;
	font-family: "Open Sans";
	color: #666;
	letter-spacing: em(2,12);
	text-align: center;
	margin-top: em(40,12);
}



.button,
h6 {
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-family: "Open Sans";
}

.button-text {
	@include font-size(12);
	@include line-height(20);
	letter-spacing: em(1,12);
	color: #595959;
	&:hover { color: #000000; }
}

.teaser-category,
.teaser-title,
.teaser-variation,
.teaser-price {
	@include font-size(12);
	@include line-height(12 * 1.5 );
	color: #FFF;
	display: block;
	font-family: "Open Sans";
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.teaser-price {
	margin-top: em(12 * 1.5, 12);
}


@include mq-medium-large() {
	.teaser-category,
	.teaser-title,
	.teaser-variation,
	.teaser-price {
		@include font-size(18);
		@include line-height(18 * 1.5 );
	}

	.teaser-price {
		margin-top: em(18 * 1.5, 18);
	}

}
