

.page_navigation {
	ul {
		margin: em($unit * 2);
	}
	
	ul + ul {
		margin-top: em($unit);
	}
	li > ul {
		margin-top: 0;
		margin-bottom: em($unit);
	}


	li {
		// text-align: center;
	}

	a {
		display: block;
		text-decoration: none;
		padding: em($unit*0.25) 0;
		color: #CCC;

		-webkit-transition: color 0.2s ease;
		-moz-transition: color 0.2s ease;
		-ms-transition: color 0.2s ease;
		-o-transition: color 0.2s ease;
		transition: color 0.2s ease;

		&.selected {
			color: #FFF;
		}
		&:active {
			color: #666;
		}
		&:hover {
			color: #EEE;
		}
	}

	li > ul a {
		color: #999;
	} 
}

.search_container {
	input {
		@include box-sizing();
		@include font-size($basefont);
		@include experimental(appearance, none);
		color: #999;
		font-weight: 400;
		font-family: $font-text;
		border: 1px solid #666; 
		margin: 0;
		display: block;
		width: 100%;
		padding: em($unit*.5);
		background: transparent;	
		
		&::-webkit-input-placeholder { color: #808080; }
		&:-moz-placeholder { color: #808080; }
		&::-moz-placeholder {  color: #808080; }
		&:-ms-input-placeholder { color: #808080; }

		&:disabled {
			border-color: #666;
			color: #999;
			opacity: 1;
		}
		&:focus {
			@include experimental(appearance, none);
			outline:0px none transparent;
			border: 1px solid #CCC; 
		}
		.no-boxsizing & {
			padding: em($unit) 0;
			text-indent: em($unit);
		}
	}
}


#navigation {
	-webkit-transform: translateZ(0);
	position: fixed;
	height: 100%;
	width: em($navigation_width);
	margin-left: em(-$navigation_width);
	top: 0;
	left: 0;
	z-index: 99999;
}
#navigation nav {
	width: 100%;
	height: 100%;
	background: #000;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.no-history {
	#navigation {
		margin-left: 0;
	}
	.navigation_toggle {
		display: none;
	}
	.page_column {
		padding-left: em($navigation_width);
	}
}

.navigation_toggle {
	@extend .hamburger-icon;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	width: em($unit*4);
	line-height: em($unit*4);
	height: em($unit*4.5);
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 999999;	
	overflow: hidden;
	text-indent: 150%;
	cursor: hand; cursor: pointer;
}


// OVERIDE TICTAIL BASE.CSS
#tictail_search_results {
	background: transparent;
	position: relative;
	width: auto;
	border: none;
}

#tictail_search_results .item {
	border: none;
	overflow: visible;
	margin: 0;
}

#tictail_search_results .title {
	border: none;
	overflow: visible;
	margin: 0;
	text-overflow: clip;
	white-space: normal;
}

#tictail_search_results .thumb {
	width: auto;
	height: auto;
	overflow: auto;
	line-height: inherit;
	
}

#tictail_search_results {
	padding-top: em($unit * 0.5 );
	color: #CCC;	
	.item {
		display: block;
		position: relative;
		overflow: hidden;
		text-align: left;
		cursor: hand; cursor: pointer;
		
	}
	.item + .item {
		margin-top: em($unit * 0.5);
	}

	.result {
		padding: 0;
	}
	.thumb {
		display: block;
		float: left;
		margin-right: em($unit*0.5);
		img {
			display: block;
		}
	}
	.title,
	.price {
		display: block;
		@include font-size(12);
		line-height: em(15,12);
		letter-spacing: em(2,12);
		color: #FFF;
		font-family: $font-heading;
		text-transform: uppercase;
		position: relative;
		z-index: 10;
	}
	.title {
		font-weight: 700;
	}
	.item:hover a:after { visibility:visible; }
	.item a:after {
		display: block;
		content: "";
		position: absolute;
		background-color: rgba($color_product_hover, 0.70);
		width: 100%;
		height: 100%;
		top: 0;
		visibility:hidden;

	}

	
}
