/* ******************************

PAGE LAYOUT

****************************** */

.page {
	position: relative;
	overflow: hidden;	
}
.page_body {
	*zoom: 1;
	position: relative;
	left:  em(-$navigation_width);
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.page_content {
	background: $content_color;
	min-height: 100%;
	margin-left: em($navigation_width);
	width: 100%;
	float: left;
	margin-top: em( 20 + $unit*2);
}
.page_header {
	display: block;
	margin-bottom: em($unit*3);
	a {
		color: #000;
		text-decoration: none;
	}
}
.page_column {
	margin: auto;
	max-width: em(1200);
	margin: auto;
}
.page_menu {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	margin: em($unit) em($unit) 0 em($unit);
}
