/* ******************************

PAGE LAYOUT

****************************** */

.page {
	position: relative;
	overflow: hidden;	
}
.page_body {
	*zoom: 1;
	position: relative;
	left:  em(-$navigation_width);
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.page_content {
	background: $content_color;
	min-height: 100%;
	margin-left: em($navigation_width);
	width: 100%;
	float: left;
	margin-top: em( 20 + $unit*2);
}
.page_header {
	display: block;
	margin-bottom: em($unit*3);
	a {
		color: #000;
		text-decoration: none;
	}
}
.page_column {
	margin: auto;
	max-width: em(1200);
	margin: auto;
}
.page_menu {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	margin: em($unit) em($unit) 0 em($unit);
}
.page_body {
	background: $navigation_color; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(left,  $navigation_color em($navigation_width), $content_color em($navigation_width)); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(em($navigation_width),$navigation_color), color-stop(em($navigation_width),$content_color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  $navigation_color em($navigation_width),$content_color em($navigation_width)); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  $navigation_color em($navigation_width),$content_color em($navigation_width)); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  $navigation_color em($navigation_width),$content_color em($navigation_width)); /* IE10+ */
	background: linear-gradient(to right,  $navigation_color em($navigation_width),$content_color em($navigation_width)); /* W3C */
}
