/* ******************************

PRODUCT TEASER

****************************** */

.product_teaser {
	position: relative;
	margin: em($unit*0.5);
	display: block;
	overflow: hidden;
}

.product_teaser_image {
	position: relative;
	font-size: 0;

	img {
		position: relative;
		display: block;
		display: inline-block;
		width:100%;
		vertical-align: middle;
	}
	
	// http://gtwebdev.com/workshop/vcenter/vcenter-inline-css.php
	&:before {
		position: relative;
		content: '';
		display: inline-block;
		padding-bottom: 150%;
		margin-right: -0.25em;
		vertical-align: middle;
		background: red;
	}
}
.product_teaser_price {
	font-weight: 400;
}
.product_teaser_hover {
	visibility:hidden;
	position: absolute;
	top: 0;
	width:100%;
	height: 100%;
	background-color: rgba($color_product_hover, 0.70);
	text-align: center;
	text-transform: uppercase;
	color: $color_product_hover_text;
	font-size: 0;
	.lt-ie9 & {
		background:transparent;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$color_product_hover_ie},endColorstr=#{$color_product_hover_ie}); 
		zoom: 1;
	}

	&:before {
		content: '';
		position: relative;
		display: inline-block;
		height: 100%;
		margin-right: -0.25em;
		vertical-align: middle;
		background: red;
	}

	.selected &												{ visibility:visible; background-color: rgba($color_product_selected, 0.70); }
	.no-touch .product_teaser:hover & { visibility:visible; }
}

.product_teaser_hover_wrapper {
	@include breakpoint(1) { @include font-size(12); }
	@include breakpoint(2) { @include font-size(16); }
	font-family: $font-heading;
	font-weight: 700;
	letter-spacing: em(2);	
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	.boxsizing & {
		@include box-sizing();
		padding: em($unit*0.5);
	}
}

.product_list {
	margin: em($unit);
}


.product_list_wrapper {
	// @include experimental(backface-visibility, hidden );
	margin: em($unit*-0.5);
}
.product_list {
	overflow: hidden;
}

.product {
	width: 100%;
	@include breakpoint(1) { width: 50%; }
	@include breakpoint(2) { width: 33.333333%; }
	@include breakpoint(3) { width: 25%; }
	// @include breakpoint(4) { width: 20%; }
	// @include breakpoint(5) { width: 16.666666666%; }
	// @include breakpoint(6) { width: 14.2857142857%; }
	// @include breakpoint(7) { width: 12.5%; }
	.lt-ie9 &,
	.no-mediaqueries & { width: 25%; }
	float: left;
}

.product_teaser_stock {
	display: block;
	margin-top: em($unit);
}
