$color_product_hover: #FF4C4C;

.product_list_wrapper {
	@include experimental(backface-visibility, hidden );
	margin: em($unit*-0.5);
}
.product_list {
	overflow: hidden;
}

.product_list .product {
	width: 25%;
	float: left;
}

.product_detail {
	margin: em($unit*0.5);
	display: none;
	overflow: hidden;
	clear: both;
	&.selected {
		display:block;
	}
}


