$color_product_hover: #FF4C4C;

.product_list_wrapper {
	// @include experimental(backface-visibility, hidden );
	margin: em($unit*-0.5);
}
.product_list {
	overflow: hidden;
}

.product_list .product {
	width: 100%;
	@include breakpoint(1) { width: 50%; }
	@include breakpoint(2) { width: 33.333333%; }
	@include breakpoint(3) { width: 25%; }
	// @include breakpoint(4) { width: 20%; }
	// @include breakpoint(5) { width: 16.666666666%; }
	// @include breakpoint(6) { width: 14.2857142857%; }
	// @include breakpoint(7) { width: 12.5%; }
	.lt-ie9 &,
	.no-mediaqueries & { width: 25%; }
	float: left;
}

