$column-2		: em(300);
$column-3		: em(600);
$column-4		: em(900);
$column-5		: em(1200);

// RETINA
@mixin mq-highdensity() {
	@media	only screen and (-webkit-min-device-pixel-ratio: 1.5),
					only screen and (min--moz-device-pixel-ratio: 1.5),
					only screen and (-o-min-device-pixel-ratio: 3/2),
					only screen and (min-device-pixel-ratio: 1.5) { @content; }
}

@mixin breakpoint($point) {
  @if $point == 1 {
    @media (min-width: em(300,$basefont)) { @content; }
  }
  @else if $point == 2 {
    @media (min-width: em(600,$basefont)) { @content; }
  }
  @else if $point == 3 {
    @media (min-width: em(900,$basefont))  { @content; }
  }
  @else if $point == 4 {
    @media (min-width: em(1200,$basefont))  { @content; }
  }
  @else if $point == 5 {
    @media (min-width: em(1500,$basefont))  { @content; }
  }
  @else if $point == 6 {
    @media (min-width: em(1800,$basefont))  { @content; }
  }
  @else if $point == 7 {
    @media (min-width: em(2100,$basefont))  { @content; }
  }
}

