/*
* Copyright © 2012 Alexander Aivars, Kramgo AB
 */
@function em($target, $context: $basefont){
	@return ($target/$context)+0em;
}

@mixin font-size($size: $basefont, $base: $basefont){
  font-size: $size + px;
  font-size: ( $size / $base ) + rem;
}

@mixin line-height($size: $basefont ){
  line-height: $size + px;
  line-height: ( $size / $basefont ) + rem;
}

@mixin font-spacing($size: 1 ){
  letter-spacing: $size + px;
  letter-spacing: ( $size / $basefont ) + rem;
}

