/*
* Copyright © 2012 Alexander Aivars, Kramgo AB
 */
@function em($target, $context: $basefont){
	@return ($target/$context)+0em;
}

@mixin font-size($size: $basefont, $base: $basefont){
  font-size: $size + px;
  font-size: ( $size / $base ) + rem;
}

@mixin line-height($size: $basefont ){
  line-height: $size + px;
  line-height: ( $size / $basefont ) + rem;
}

@mixin font-spacing($size: 1 ){
  letter-spacing: $size + px;
  letter-spacing: ( $size / $basefont ) + rem;
}


@font-face {
    font-family: 'bodoni_black';
    src: url('fonts/BodoniBlack-webfont.eot');
    src: url('fonts/BodoniBlack-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BodoniBlack-webfont.woff') format('woff'),
         url('fonts/BodoniBlack-webfont.ttf') format('truetype'),
         url('fonts/BodoniBlack-webfont.svg#bodoni_black_fsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodoni_black_italic';
    src: url('fonts/odoniBlack-Italic-webfont.eot');
    src: url('fonts/BodoniBlack-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BodoniBlack-Italic-webfont.woff') format('woff'),
         url('fonts/BodoniBlack-Italic-webfont.ttf') format('truetype'),
         url('fonts/BodoniBlack-Italic-webfont.svg#bodoni_black_fsitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bodoni_bold';
    src: url('fonts/Bodoni-Bold-webfont.eot');
    src: url('fonts/Bodoni-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bodoni-Bold-webfont.woff') format('woff'),
         url('fonts/Bodoni-Bold-webfont.ttf') format('truetype'),
         url('fonts/Bodoni-Bold-webfont.svg#bodoni_fsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bodoni_bold_italic';
    src: url('fonts/Bodoni-BoldIt-webfont.eot');
    src: url('fonts/Bodoni-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bodoni-BoldIt-webfont.woff') format('woff'),
         url('fonts/Bodoni-BoldIt-webfont.ttf') format('truetype'),
         url('fonts/Bodoni-BoldIt-webfont.svg#bodoni_fsbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bodoni_italic';
    src: url('fonts/Bodoni-It-webfont.eot');
    src: url('fonts/Bodoni-It-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bodoni-It-webfont.woff') format('woff'),
         url('fonts/Bodoni-It-webfont.ttf') format('truetype'),
         url('fonts/Bodoni-It-webfont.svg#bodoni_fsitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bodoni';
    src: url('fonts/Bodoni-Regular-webfont.eot');
    src: url('fonts/Bodoni-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bodoni-Regular-webfont.woff') format('woff'),
         url('fonts/Bodoni-Regular-webfont.ttf') format('truetype'),
         url('fonts/Bodoni-Regular-webfont.svg#bodoni_fsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bodoni_semibold';
    src: url('fonts/Bodoni-Semibold-webfont.eot');
    src: url('fonts/Bodoni-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bodoni-Semibold-webfont.woff') format('woff'),
         url('fonts/Bodoni-Semibold-webfont.ttf') format('truetype'),
         url('fonts/Bodoni-Semibold-webfont.svg#bodoni_fssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bodoni_semibold_italic';
    src: url('fonts/Bodoni-SemiboldIt-webfont.eot');
    src: url('fonts/Bodoni-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bodoni-SemiboldIt-webfont.woff') format('woff'),
         url('fonts/Bodoni-SemiboldIt-webfont.ttf') format('truetype'),
         url('fonts/Bodoni-SemiboldIt-webfont.svg#bodoni_fssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


